* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden !important;
	overflow-y: auto !important;
	background-color: rgb(219, 218, 218) !important;
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */

}

body::-webkit-scrollbar {
	display: none;
}

.link-icon{
	text-decoration: none !important;
	color: #000;
	
}

.main-wrap {
	display: flex !important;
	justify-content: center !important;
}

.contain-1 {
	width: 20%;
	height: 100vh;
	background-color: white;
	position: fixed;
	left: 0 !important;
	top: 0 !important;
	display: flex !important;
	justify-content: center !important;
}

.contain-2 {
	width: 70%;
	height: 100%;
	margin-left: 20%;
	margin-right: 5%;


}

.contain-3 {
	width: 5%;
	height: 100vh;
	background-color: white;
	position: fixed;
	right: 0;
	top: 0;
}
.contain-4{
	width: 100%;
	height: 10%;
	background-color: white;
	position: fixed;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	bottom: 0;
	display: none;
}

.hero-div {
	height: 500px;
	background-color: white;
	margin-left: 5px;
	margin-right: 5px;
}

.hero-img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

.hero-name {
	text-align: center;
	font-size: 20px;
}

.hero-desg {
	text-align: center;
	font-size: 18px;
}

.social-icon {
	background-color: #eba611;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-icon i {
	font-size: 16px;
}

hr.solid {
	border-top: 3px solid #bbb;
}

.hero-details {
	background-color: #eba611;
	width: fit-content;
	padding: 2px 2px;
	font-size: 12px;
}

.lang {
	font-size: 12px !important;
}

.main-hero-img {
	width: 26rem;
}

.nav-wrap {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100%;
	gap: 2rem;
}
.nav-wrap-mobile{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	gap: 2rem;
}

.nav-icons {
	width: 50px;
	height: 50px;
	background-color: #eba611;
	display: grid;
	place-content: center;
	cursor: pointer;
	transition: color 0.3s ease, background-color 0.3s ease;


}
.nav-icons.active {
    color: #eba611; /* Change to the color you want */
    background-color: #f2f2f2; /* Change the background color or add any other styles */
	border-color: #eba611;
	border: solid 1px ;
}
.logo-skill {
	width: 100px;
	height: 100px;
	clip-path: circle(50% at 50% 50%);
}

.skill-main {
	margin-top: 1000px !important;
	display: flex;
	justify-content: center;
}

.card-wrapp {
	border-radius: none !important;

}

.card-wrapp i {
	font-size: 60px !important;
	text-align: center !important;
	color: #eba611;
}

.card-wrapp h1 {
	font-size: 20px !important;
}

.edu-main {
	font-size: 17px;
}

.work-logo {
	width: 13rem;
	height: 5rem;
}

.contact-text {
    width: 100%;
    height: 50px;
    border: 2px solid transparent; /* Initial border, set to transparent */
    background-color: #f2f2f2;
    outline: none; /* Removes default focus outline */
}

.contact-text:focus, .contact-text:active {
    border-color: #eba611; /* Changes border color on focus and active */
}



.custom-icon:hover{
background-color: #eba611 !important;
transition: 1s ease !important;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30px;
    display: none;
}
.menu span {
    width: 30px;
    height: 2px;
    background-color: #000;
    display: block;
}

@media screen and (max-width: 1300px) {
    .menu {
		left: 10%;
		top: 40px;
		position: absolute;
        display: flex !important;
        z-index: 1000 !important;
    }

    .contain-1 {
        position: absolute !important;
        right: 0;
        top: 0;
        width: 30%;
        height: 100vh;
        background: white;
        z-index: 99 !important;
        display: none !important;
        transition: 1s ease;
    }

	.contain-4{
		display: block;
	}
	.contain-3{
		display: none;
	}
    .open .contain-1 {
        display: block !important;
    }

    .menu span:nth-child(2) {
        width: 25px;
        display: flex;
        align-self: flex-end;
    }

    .open .menu span:nth-child(1) {
        transform: translate(0%, 10px) rotate(45deg);
        transition: .3s;
    }

    .open .menu span:nth-child(2) {
        display: none;
    }

    .open .menu span:nth-child(3) {
        transform: translate(0%, 3px) rotate(-45deg);
        transition: .3s;
    }
	.hero-parag{
		font-size: 20px;
		transition: 2s ease;
	}
.para{
	
	transition: 2s ease;
}

}